
.DS_Store
.ipynb_checkpoints/DA_Q1_Rider_Behavior-checkpoint.ipynb
*.parquet
*.csv
*.geojson
.ipynb_checkpoints/ML_Q1_Time_Series_Analysis_Modeling-checkpoint.ipynb
.ipynb_checkpoints/ML_Q4_Data_Cleaning-checkpoint.ipynb
.ipynb_checkpoints/ML_Q4_Duration_and_Arrivals-checkpoint.ipynb
.ipynb_checkpoints/ML_Q4_Durations-checkpoint.ipynb
*.pkl
.ipynb_checkpoints/CB_Econ_Data_Analysis-checkpoint.ipynb
.ipynb_checkpoints/DA_Q1_Rider_Behavior-eBike-checkpoint.ipynb
.ipynb_checkpoints/CB_Mode_Optimization-checkpoint.ipynb
.ipynb_checkpoints/ML_Q4_Data_Cleaning-eBike-checkpoint.ipynb
